<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MobileHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button (click)="test()">Ver Proyectos</ion-button>
    </ion-item>
    <ion-item>
      <ion-button>Ver Proyectos</ion-button>
    </ion-item>
    <ion-item>
      <ion-button>Ver Proyectos</ion-button>
    </ion-item>
    <ion-item>
      <ion-button>Ver Proyectos</ion-button>
    </ion-item>
    <ion-item>
      <ion-button>Ver Proyectos</ion-button>
    </ion-item>
  </ion-list>
