<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MobileHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card *ngFor="let proyect of repos">
      <ion-card-header>
        <ion-card-title>{{proyect.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Fecha de creación:
          <p>{{proyect.created_at}}</p>
        </ion-label>
        <ion-label>Última modificación:
          <p>{{proyect.updated_at}}</p>
        </ion-label>
        <ion-label>Descripción:
          <p>{{proyect.description}}</p>
        </ion-label>
        <ion-label>Cantidad de commits:
          <p>{{proyect.commitsQty}}</p>
        </ion-label>

      </ion-card-content>
      <ion-button (click)="repo(proyect.name)" >Ver Commits</ion-button>
    </ion-card>



