<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{repo.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-card >
      <ion-card-header>
        <ion-card-title>Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{repo.description}}</p>
      </ion-card-content>
    </ion-card>
    <div>
      <h2>Commits</h2>

    </div>
    <ion-card *ngFor="let commit of commits">
      <ion-card-content>
        <li>
          Autor: {{commit.commit.author.name}}
        </li>
        <li>
          Mensaje: {{commit.commit.message}}
        </li>
        <li>
          Fecha: {{commit.commit.author.date}}
      </ion-card-content>

    </ion-card>

</ion-content>

