<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Repositorio: {{repo.name}}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content >


    <ion-card >

      <ion-card-content>
        <ion-label>Descripción:
          <p>{{repo.description}}</p>
        </ion-label>
        <ion-label>Cantidad de commits:
          <p>{{commitsQty}}</p>
        </ion-label>

      </ion-card-content>
    </ion-card>
    <div>
      <h2>Commits</h2>

    </div>
    <ion-card *ngFor="let commit of commits">
      <ion-card-content>
        <ion-label> Autor:
          <p>{{commit.commit.author.name}}</p>
        </ion-label>
        <ion-label>Mensaje:
          <p>{{commit.commit.message}}</p>
        </ion-label>
        <ion-label> Fecha:
          <p>{{commit.commit.author.date}}</p>
        </ion-label>

      </ion-card-content>

    </ion-card>

</ion-content>

