<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title routerLink="/home">
      <ion-icon name="logo-github"></ion-icon>
       MobileHub </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>

      <ion-card-title>Regístrate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-list>
            <ion-item>
              <ion-input label="Nombre Completo" formControlName="fullName" placeholder="Tu nombre"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Email" type="email" formControlName="email" placeholder="email@domain.com"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Año de nacimiento" type="number" formControlName="birthYear" placeholder="1900"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="RUT" formControlName="rut"  placeholder="Sin puntos ni guión"></ion-input>
            </ion-item>

          </ion-list>
        </ion-list>

        <div>
          <ion-button type="submit">Registrarse</ion-button>

        </div>
      </form>

    </ion-card-content>

  </ion-card>


  <ion-card id="alert" color="danger">
    <strong>{{message}}</strong>
  </ion-card>
  <ion-card color="success">
    <strong>{{success}}</strong>
  </ion-card>

</ion-content>
