<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MobileHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

      <ion-card-subtitle>Bienvenido a MobileHub!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>MobileHub es una aplicación que te permite gestionar tus proyectos de desarrollo de software de una manera
        sencilla y eficiente.</p>

    </ion-card-content>
    <p>¿Qué deseas hacer?</p>
    <ion-button routerLink="/login">Iniciar Sesión</ion-button>
    <br>
    <ion-button fill="clear" routerLink="/register">Registrarse</ion-button>


  </ion-card>

  <ion-card>
    <img alt="GitHub" src="assets/imgs/mobilelogo.png" style="height: 250px;" />
  </ion-card>
</ion-content>

